<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.llama.rpcserver</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/rpc-server</string>
        <string>--host</string>
        <string>192.168.20.1</string>
        <string>--port</string>
        <string>50000</string>
        <string>-c</string>
        <!-- <string>value</string> -->
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>LLAMA_CACHE</key>
        <string>/Volumes/Home/llama.cpp</string>
    </dict>

    <key>WorkingDirectory</key>
    <string>/Volumes/Home/dorigo_a</string>

    <key>UserName</key>
    <string>dorigo_a</string>

    <key>GroupName</key>
    <string>staff</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Volumes/Home/dorigo_a/rpc-server.log</string>

    <key>StandardErrorPath</key>
    <string>/Volumes/Home/dorigo_a/rpc-server.err</string>
</dict>
</plist>
